* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Signika Negative", sans-serif;
}

.log-in {
  width: 130px;
  height: 45px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fffefe;
  background-color: teal;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  padding: 1.3em 3em;
}
.log-in a {
  text-decoration: none;
  color: white;
}

.log-in:hover {
  background-color: #236ec4;
  box-shadow: 0px 15px 20px rgba(46, 49, 229, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.log-in:active {
  transform: translateY(-1px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Signika Negative", sans-serif;
}

nav {
  width: 100%;
}
nav .nav-top {
  padding: 0 50px;
  background-color: #D9D9D9;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-top .nav-left {
  flex: 1;
}
nav .nav-top .nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .nav-top .nav-left img {
  height: 80px;
  margin-left: -250px;
}
nav .nav-top .nav-center {
  flex: 1.5;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
nav .nav-top .nav-center ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
nav .nav-top .nav-center ul li a {
  text-decoration: none;
  font-size: 1rem;
  color: teal;
}
nav .nav-top .nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  display: flex;
  justify-content: end;
}
nav .nav-top .nav-right span {
  margin-right: 20px;
  font-size: 1.5rem;
}
nav .nav-top .nav-right a {
  color: black;
}
nav .nav-top .nav-right span:hover {
  transform: scale(1.1);
  color: teal;
  cursor: pointer;
}

nav {
  position: sticky;
  top: 0;
  z-index: 10001;
}

.brand-card {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
  margin-left: 4px;
  height: 50%;
}
.brand-card .gallery {
  gap: 5px;
}
.brand-card .gallery img {
  width: 190px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.17);
}
.brand-card .gallery i {
  color: darkorange;
  margin-top: 10px;
}
.brand-card .gallery .see-1 {
  width: 130px;
  background: teal;
  padding: 10px;
  border: none;
  border-radius: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
}
.brand-card .gallery .see-1 a {
  text-decoration: none;
  color: white;
}
.brand-card .gallery h3 {
  margin-top: 10px;
}

.gallery {
  width: 25%;
  margin: 15px;
  box-sizing: border-box;
  float: left;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
  padding-top: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transition: 0.18s;
  background: #f2f2f2;
}

.gallery:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translate(0px, -8px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Signika Negative", sans-serif;
}

footer {
  background-color: rgba(10, 23, 39, 0.883);
  color: white;
  display: flex;
  margin-top: 50px;
  padding: 30px;
}
footer .footer-left {
  display: flex;
  justify-content: space-around;
  width: 80%;
}
footer .footer-left .footer-left-list1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .footer-left .footer-left-list1 .title h2 {
  color: orange;
  text-decoration: underline;
  font-size: 1.7rem;
}
footer .footer-left .footer-left-list1 .child-in-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footer-left .footer-left-list1 .child-in-title .flag {
  display: flex;
  gap: 28px;
}
footer .footer-left .footer-left-list1 .child-in-title .flag img {
  background-color: white;
}
footer .footer-left .footer-left-list1 .child-in-title span a {
  text-decoration: none;
  color: white;
}
footer .footer-left .footer-left-list1 .child-in-title span a:hover {
  background-color: rgb(64, 240, 217);
  color: black;
  padding: 5px;
  border-radius: 5px;
}
footer .footer-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}
footer .footer-right .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  gap: 10px;
}
footer .footer-right .contact span a {
  text-decoration: none;
  color: white;
}
footer .footer-right .contact span a:hover {
  background-color: rgb(64, 240, 217);
  color: black;
  padding: 5px;
  border-radius: 5px;
}

#container-1, #container-3, #container-2, #container-4 {
  display: flex;
  height: 30rem;
}
#container-1 .content-left, #container-3 .content-left, #container-2 .content-left, #container-4 .content-left,
#container-1 .content-right,
#container-3 .content-right,
#container-2 .content-right,
#container-4 .content-right {
  flex: 2;
}
#container-1 .content-left, #container-3 .content-left, #container-2 .content-left, #container-4 .content-left {
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #D9D9D9;
}
#container-1 .content-right img, #container-3 .content-right img, #container-2 .content-right img, #container-4 .content-right img {
  width: 100%;
}

#container-2, #container-4 {
  margin-top: 100px;
  flex-direction: row-reverse;
}

#container-3 {
  margin-top: 100px;
}

#container-4 {
  margin-top: 100px;
}/*# sourceMappingURL=brand.css.map */