.buy-btn {
  width: 100px;
  height: 35px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  color: #fffefe;
  background-color: teal;
  border: none;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  padding: 1.3em 3em;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .buy-btn {
    width: 80px;
    padding: 0.7em;
  }
}
@media screen and (max-width: 780px) {
  .buy-btn {
    width: 50px;
    padding: 0.2em;
  }
}

a {
  text-decoration: none;
  color: white;
  font-size: 12px;
}
@media screen and (max-width: 780px) {
  a {
    font-size: 0.6em;
  }
}

.buy-btn:hover {
  background-color: #236ec4;
  box-shadow: 0px 15px 20px rgba(46, 49, 229, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.buy-btn:active {
  transform: translateY(-1px);
}

body {
  margin: 0 50px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5px;
}

.line {
  height: 1px;
  background-color: teal;
  border: none;
}

.card {
  box-shadow: 0 0px 20px teal;
  width: 500px;
  background: white;
}

.title {
  height: 40px;
  display: flex;
  align-items: center;
  padding: 20px;
  font-size: 2.5rem;
  color: #000000;
}

.cart {
  border-radius: 20px 20px 0px 0px;
}

.cart .steps {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.cart .steps .step {
  display: grid;
  gap: 10px;
}

.cart .steps .step span {
  font-size: 1.2rem;
  color: black;
  margin-bottom: 10px;
  display: block;
  color: teal;
}

.cart .steps .step p {
  font-size: 1rem;
  font-weight: 300;
  color: black;
}

.promo form {
  display: grid;
  grid-template-columns: 1fr 80px;
  gap: 10px;
  padding: 0px;
}

.input_field {
  width: auto;
  height: 36px;
  padding: 0 0 0 12px;
  border-radius: 5px;
  outline: none;
  border: 1px solid teal;
  background-color: white;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.input_field:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px rgb(251, 243, 228);
  background-color: rgb(201, 193, 178);
}

.promo form button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px 18px;
  gap: 10px;
  width: 100%;
  letter-spacing: 3px;
  height: 36px;
  background: teal;
  box-shadow: 0px 0.5px 0.5px #F3D2C9, 0px 1px 0.5px rgba(239, 239, 239, 0.5);
  border-radius: 5px;
  border: 0;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
  color: #fcfcfc;
}

/* Checkout */
.payments .details {
  display: grid;
  grid-template-columns: 10fr 1fr;
  padding: 0px;
  gap: 5px;
}

.payments .details span:nth-child(odd) {
  font-size: 12px;
  color: #000000;
  margin: auto auto auto 0;
}

.payments .details span:nth-child(even) {
  font-size: 13px;
  color: #000000;
  margin: auto 0 auto auto;
}

.checkout .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px 10px 20px;
  background-color: black;
}

.price {
  position: relative;
  font-size: 22px;
  color: #ffffff;
  font-weight: 900;
}

.buy-btn {
  letter-spacing: 3px;
}/*# sourceMappingURL=check-out.css.map */