* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Signika Negative", sans-serif;
}

.log-in {
  width: 130px;
  height: 45px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fffefe;
  background-color: teal;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  padding: 1.3em 3em;
}
.log-in a {
  text-decoration: none;
  color: white;
}

.log-in:hover {
  background-color: #236ec4;
  box-shadow: 0px 15px 20px rgba(46, 49, 229, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.log-in:active {
  transform: translateY(-1px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Signika Negative", sans-serif;
}

nav {
  width: 100%;
}
nav .nav-top {
  padding: 0 50px;
  background-color: white;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 780px) {
  nav .nav-top {
    padding: 0;
  }
}
@media screen and (max-width: 1024px) {
  nav .nav-top {
    padding: 0;
  }
}
nav .nav-top .nav-left {
  flex: 1;
}
nav .nav-top .nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .nav-top .nav-left img {
  height: 80px;
  margin-left: -250px;
}
@media screen and (max-width: 780px) {
  nav .nav-top .nav-left img {
    margin-left: 0;
  }
}
@media screen and (max-width: 1024px) {
  nav .nav-top .nav-left img {
    margin-left: 0;
  }
}
nav .nav-top .nav-center {
  flex: 1.5;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
nav .nav-top .nav-center ul {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
nav .nav-top .nav-center ul li {
  display: inline-block;
  list-style: none;
  cursor: pointer;
  position: relative;
  color: #333;
}
nav .nav-top .nav-center ul li a {
  text-decoration: none;
  font-size: 1rem;
  color: teal;
  font-weight: 500;
}
@media screen and (max-width: 780px) {
  nav .nav-top .nav-center ul li a {
    display: none;
  }
}
nav .nav-top .nav-center ul li:after {
  content: "";
  width: 0;
  height: 3px;
  background: teal;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
nav .nav-top .nav-center ul li:hover::after {
  width: 100%;
}
nav .nav-top .nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  display: flex;
  justify-content: end;
}
nav .nav-top .nav-right .nav-desk {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: end;
}
@media screen and (max-width: 1024px) {
  nav .nav-top .nav-right .nav-desk span {
    display: none;
  }
  nav .nav-top .nav-right .nav-desk .log-in {
    display: none;
  }
}
nav .nav-top .nav-right .nav-desk span {
  margin-right: 20px;
  font-size: 1.5rem;
}
nav .nav-top .nav-right .nav-desk a {
  color: black;
}
nav .nav-top .nav-right .nav-desk span:hover {
  transform: scale(1.1);
  color: teal;
  cursor: pointer;
}
nav .nav-top .nav-right .nav-responsiive {
  display: none;
  width: 100px;
  background: #d9d9d9;
  margin: 300px 0;
}
@media screen and (max-width: 1024px) {
  nav .nav-top .nav-right .nav-responsiive {
    display: block;
  }
}
@media screen and (max-width: 780px) {
  nav .nav-top .nav-right .nav-responsiive {
    width: 300px;
  }
}
nav .nav-top .nav-right .nav-responsiive li {
  display: flex;
  justify-content: center;
  text-align: center;
}
nav .nav-top .nav-right .nav-responsiive li a {
  text-decoration: none;
  color: #2d2f31;
}
nav .nav-top .nav-right .nav-responsiive li:hover {
  background-color: teal;
}
nav .nav-top .nav-right .nav-responsiive li:hover a {
  color: white;
}
nav .nav-top .nav-right .nav-responsiive span {
  background: teal;
  color: white;
  font-size: 1.2em;
  font-variant: small-caps;
  cursor: pointer;
  display: block;
}
@media screen and (max-width: 1024px) {
  nav .nav-top .nav-right .nav-responsiive span {
    padding: 29px 25px;
  }
}
@media screen and (max-width: 780px) {
  nav .nav-top .nav-right .nav-responsiive span {
    padding: 29px 50px;
  }
}
nav .nav-top .nav-right .nav-responsiive span::after {
  float: right;
}
nav .nav-top .nav-right .nav-responsiive span:hover {
  background-color: black;
}
nav .nav-top .nav-right .nav-responsiive span:hover a {
  color: white;
}
nav .nav-top .nav-right .nav-responsiive .slide {
  clear: both;
  width: 100%;
  height: 0px;
  overflow: hidden;
  text-align: center;
  transition: height 0.4s;
}
nav .nav-top .nav-right .nav-responsiive .slide li {
  padding: 30px;
}
nav .nav-top .nav-right .nav-responsiive #touch {
  position: absolute;
  opacity: 0;
  height: 20px;
}
nav .nav-top .nav-right .nav-responsiive #touch:checked + .slide {
  height: 400px;
}

nav {
  position: sticky;
  top: 0;
  z-index: 10001;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Signika Negative", sans-serif;
}

section {
  background: linear-gradient(155deg, rgba(45, 40, 40, 0.618), rgba(8, 8, 8, 0.607)), url(/image/contact-page/contact-group.png);
  background-position: center;
  background-color: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  display: flex;
}

.contact-container {
  display: flex;
  background: linear-gradient(155deg, rgba(2, 2, 2, 0.447), rgba(2, 0, 0, 0.612));
  border-radius: 10px;
  width: 90%;
  padding: 30px;
  margin: 160px 0 40px 60px;
}

.contact-us-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contact-us-connect {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contacts {
  display: flex;
  align-items: center;
  margin-left: 50px;
  gap: 25px;
}

.contacts > span > a {
  color: white;
}

.contact-us-form {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -200px;
}

.contact-us-form form {
  margin-left: 40px;
  background-color: #D9D9D9;
  color: black;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}

input {
  border: none;
  background-color: rgba(255, 255, 255, 0);
}

.username,
.email,
.message {
  margin: 10px 0px;
  border-bottom: 1px solid black;
}

.contact-us-form form h1 {
  text-align: center;
}

.username input,
.message input,
.email input {
  width: 335px;
  padding: 3px 0px;
}

.contact-us-form form button {
  background: teal;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Signika Negative", sans-serif;
}

footer {
  background-color: rgba(10, 23, 39, 0.883);
  color: white;
  display: flex;
  margin-top: 50px;
  padding: 30px;
}
footer .footer-left {
  display: flex;
  justify-content: space-around;
  width: 80%;
}
footer .footer-left .footer-left-list1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .footer-left .footer-left-list1 .title h2 {
  color: orange;
  text-decoration: underline;
  font-size: 1.7rem;
}
footer .footer-left .footer-left-list1 .child-in-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footer-left .footer-left-list1 .child-in-title .flag {
  display: flex;
  gap: 28px;
}
footer .footer-left .footer-left-list1 .child-in-title .flag img {
  background-color: white;
}
footer .footer-left .footer-left-list1 .child-in-title span a {
  text-decoration: none;
  color: white;
}
footer .footer-left .footer-left-list1 .child-in-title span a:hover {
  background-color: rgb(64, 240, 217);
  color: black;
  padding: 5px;
  border-radius: 5px;
}
footer .footer-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}
footer .footer-right .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  gap: 10px;
}
footer .footer-right .contact span a {
  text-decoration: none;
  color: white;
}
footer .footer-right .contact span a:hover {
  background-color: rgb(64, 240, 217);
  color: black;
  padding: 5px;
  border-radius: 5px;
}/*# sourceMappingURL=contact.css.map */