.log-in {
  width: 130px;
  height: 45px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fffefe;
  background-color: teal;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  padding: 1.3em 3em;
}
.log-in a {
  text-decoration: none;
  color: white;
}

.log-in:hover {
  background-color: #236ec4;
  box-shadow: 0px 15px 20px rgba(46, 49, 229, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.log-in:active {
  transform: translateY(-1px);
}

nav .nav-top {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
nav .nav-top .nav-left {
  flex: 1;
}
nav .nav-top .nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .nav-top .nav-left img {
  height: 100px;
  margin-left: -250px;
}
nav .nav-top .nav-center {
  flex: 1.5;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
nav .nav-top .nav-center ul {
  margin-right: 25px;
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
nav .nav-top .nav-center ul li a {
  text-decoration: none;
  font-size: 1.2rem;
  color: teal;
}
nav .nav-top .nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  display: flex;
  justify-content: end;
}
nav .nav-top .nav-right span {
  margin-right: 20px;
  font-size: 1.5rem;
}
nav .nav-top .nav-right span:hover {
  transform: scale(1.1);
  color: teal;
}
nav .nav-top .nav-right #menu {
  font-size: 1.5rem;
  z-index: 10001;
  cursor: pointer;
}
nav .nav-buttom {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .nav-buttom input {
  height: 40px;
  width: 450px;
  padding-left: 30px;
  border-radius: 50px;
  border: 2px solid #D9D9D9;
}
nav .nav-buttom span {
  margin-left: 20px;
  font-size: 30px;
}

.banner {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #D9D9D9;
  width: 100%;
  margin-top: 20px;
  height: 70vh;
}

.banner-left {
  flex: 2;
}

.banner-right {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 100px;
  margin-bottom: 150px;
  gap: 20px;
  font-size: 1.2rem;
}

.map {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70vh;
  background-color: red;
}

iframe {
  width: 100%;
  height: 50vh;
  margin-top: 70px;
  background-color: red;
}

.main-map > h1 {
  display: flex;
  justify-content: center;
}

.contact {
  display: flex;
  background-color: teal;
  width: 90%;
  height: 70vh;
  justify-content: space-between;
  margin-left: 60px;
  font-size: 1.2rem;
}

.contact-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  color: white;
  margin-left: 50px;
  margin-top: 80px;
  font-size: 1rem;
}

.phone,
.telegram,
.email {
  display: flex;
  text-align: center;
  padding-top: 50px;
  gap: 50px;
}

.contact-right {
  display: flex;
  text-align: center;
  flex-direction: column;
  flex: 1;
  height: 70vh;
  background-color: white;
  margin-top: -80px;
  margin-right: 50px;
  gap: 40px;
  padding-top: 45px;
  font-size: 1.2rem;
}

input {
  width: 70%;
  padding-bottom: 10px;
  border: none;
  text-align: start;
  border-bottom: 1px solid gray;
  font-size: 1rem;
}

button {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 30%;
  padding: 10px;
  border-radius: 10px;
  background-color: #D9D9D9;
  font-size: 1rem;
}/*# sourceMappingURL=contact.css.map */