* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Signika Negative", sans-serif;
}

.log-in {
  width: 130px;
  height: 45px;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fffefe;
  background-color: teal;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  padding: 1.3em 3em;
}
.log-in a {
  text-decoration: none;
  color: white;
}

.log-in:hover {
  background-color: #000000;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.4);
  color: #ffffff;
  transform: translateY(-7px);
}

.log-in:active {
  transform: translateY(-1px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Signika Negative", sans-serif;
}

nav {
  width: 100%;
}
nav .nav-top {
  padding: 0 50px;
  background-color: white;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 780px) {
  nav .nav-top {
    padding: 0;
  }
}
@media screen and (max-width: 1024px) {
  nav .nav-top {
    padding: 0;
  }
}
nav .nav-top .nav-left {
  flex: 1;
}
nav .nav-top .nav-left {
  display: flex;
  justify-content: center;
  align-items: center;
}
nav .nav-top .nav-left img {
  height: 80px;
  margin-left: -250px;
}
@media screen and (max-width: 780px) {
  nav .nav-top .nav-left img {
    margin-left: 0;
  }
}
@media screen and (max-width: 1024px) {
  nav .nav-top .nav-left img {
    margin-left: 0;
  }
}
nav .nav-top .nav-center {
  flex: 1.5;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
nav .nav-top .nav-center .nav-center-responsiive,
nav .nav-top .nav-center .nav-center-default {
  list-style: none;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
nav .nav-top .nav-center .nav-center-responsiive li,
nav .nav-top .nav-center .nav-center-default li {
  display: inline-block;
  list-style: none;
  cursor: pointer;
  position: relative;
  color: #333;
}
nav .nav-top .nav-center .nav-center-responsiive li a,
nav .nav-top .nav-center .nav-center-default li a {
  text-decoration: none;
  font-size: 1rem;
  color: teal;
  font-weight: 500;
}
@media screen and (max-width: 780px) {
  nav .nav-top .nav-center .nav-center-responsiive li a,
  nav .nav-top .nav-center .nav-center-default li a {
    display: none;
  }
}
nav .nav-top .nav-center .nav-center-responsiive li:after,
nav .nav-top .nav-center .nav-center-default li:after {
  content: "";
  width: 0;
  height: 3px;
  background: teal;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
nav .nav-top .nav-center .nav-center-responsiive li:hover::after,
nav .nav-top .nav-center .nav-center-default li:hover::after {
  width: 100%;
}
nav .nav-top .nav-center .nav-center-responsiive {
  display: none;
}
@media screen and (max-width: 1024px) {
  nav .nav-top .nav-center .nav-center-responsiive {
    display: block;
    display: flex;
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 1024px) {
  nav .nav-top .nav-center .nav-center-default {
    display: none;
  }
}
nav .nav-top .nav-right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  display: flex;
  justify-content: end;
}
nav .nav-top .nav-right .nav-desk {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  justify-content: end;
}
@media screen and (max-width: 1024px) {
  nav .nav-top .nav-right .nav-desk span {
    display: none;
  }
  nav .nav-top .nav-right .nav-desk .log-in {
    display: none;
  }
}
nav .nav-top .nav-right .nav-desk span {
  margin-right: 20px;
}
nav .nav-top .nav-right .nav-desk a {
  color: black;
}
nav .nav-top .nav-right .nav-desk .log-in a {
  color: white;
}
nav .nav-top .nav-right .nav-desk span:hover {
  transform: scale(1.1);
  color: teal;
  cursor: pointer;
}
nav .nav-top .nav-right .nav-responsiive {
  display: none;
  width: 100px;
  background: #d9d9d9;
  margin: 300px 0;
}
@media screen and (max-width: 1024px) {
  nav .nav-top .nav-right .nav-responsiive {
    display: block;
  }
}
@media screen and (max-width: 780px) {
  nav .nav-top .nav-right .nav-responsiive {
    width: 300px;
  }
}
nav .nav-top .nav-right .nav-responsiive li {
  display: flex;
}
nav .nav-top .nav-right .nav-responsiive li a {
  text-decoration: none;
  color: #2d2f31;
}
nav .nav-top .nav-right .nav-responsiive li:hover {
  background-color: #f2f2f2;
}
nav .nav-top .nav-right .nav-responsiive li:hover a {
  color: teal;
}
nav .nav-top .nav-right .nav-responsiive span {
  background: teal;
  color: white;
  font-size: 2.5rem;
  font-variant: small-caps;
  cursor: pointer;
  display: block;
}
@media screen and (max-width: 1024px) {
  nav .nav-top .nav-right .nav-responsiive span {
    padding: 19px 35px;
  }
}
@media screen and (max-width: 780px) {
  nav .nav-top .nav-right .nav-responsiive span {
    padding: 19px 60px;
  }
}
nav .nav-top .nav-right .nav-responsiive span::after {
  float: right;
}
nav .nav-top .nav-right .nav-responsiive span:hover {
  background-color: black;
}
nav .nav-top .nav-right .nav-responsiive span:hover a {
  color: white;
}
nav .nav-top .nav-right .nav-responsiive .slide {
  clear: both;
  width: 100%;
  height: 0px;
  overflow: hidden;
  text-align: center;
  transition: height 0.4s;
}
nav .nav-top .nav-right .nav-responsiive .slide li {
  padding: 20px;
}
nav .nav-top .nav-right .nav-responsiive .slide li a {
  font-size: 1rem;
}
nav .nav-top .nav-right .nav-responsiive #touch {
  position: absolute;
  opacity: 0;
  height: 20px;
}
nav .nav-top .nav-right .nav-responsiive #touch:checked + .slide {
  height: auto;
}

nav {
  position: sticky;
  top: 0;
  z-index: 10001;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Signika Negative", sans-serif;
}

section {
  background: linear-gradient(155deg, rgba(45, 40, 40, 0.618), rgba(8, 8, 8, 0.607)), url(/image/contact-page/contact-group.png);
  background-position: center;
  background-color: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  display: flex;
}
section .contact-container {
  width: 100%;
  display: flex;
  background: linear-gradient(155deg, rgba(2, 2, 2, 0.447), rgba(2, 0, 0, 0.612));
  border-radius: 20px;
  padding: 30px;
  margin-top: 160px;
}
@media screen and (max-width: 780px) {
  section .contact-container {
    flex-direction: column;
  }
}
section .contact-container .contact-us-content .contact-us-title {
  flex: 0.6;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media screen and (max-width: 780px) {
  section .contact-container .contact-us-content .contact-us-title h1 {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 780px) {
  section .contact-container .contact-us-content .contact-us-title span {
    font-size: x-small;
  }
}
section .contact-container .contact-us-content .contact-us-connect {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
section .contact-container .contact-us-content .contact-us-connect .contacts {
  display: flex;
  align-items: center;
  margin: 20px 50px;
  gap: 25px;
}
@media screen and (max-width: 780px) {
  section .contact-container .contact-us-content .contact-us-connect .contacts {
    margin: 20px 0;
  }
}
section .contact-container .contact-us-content .contact-us-connect .contacts span a {
  color: white;
}
@media screen and (max-width: 780px) {
  section .contact-container .contact-us-content .contact-us-connect img {
    width: 25px;
  }
}
section .contact-container .contact-us-form {
  color: white;
  flex: 0.4;
  margin: -170px 0 0 40px;
}
@media screen and (max-width: 780px) {
  section .contact-container .contact-us-form {
    margin: 50px 50px;
  }
}
section .contact-container .contact-us-form form {
  border-radius: 5px;
  color: black;
  background-color: rgba(255, 255, 255, 0.667);
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
}
section .contact-container .contact-us-form form h1 {
  text-align: center;
}
section .contact-container .contact-us-form form .email,
section .contact-container .contact-us-form form .message,
section .contact-container .contact-us-form form .username {
  margin: 10px 0px;
  border-bottom: 1px solid black;
}
section .contact-container .contact-us-form form .email input,
section .contact-container .contact-us-form form .message input,
section .contact-container .contact-us-form form .username input {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  width: 300px;
  padding: 3px 0px;
}
section .contact-container .contact-us-form form .send {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 50%;
  background: teal;
  color: white;
  border: none;
  padding: 15px;
  border-radius: 5px;
  margin: 30px 0 30px 0;
}
section .contact-container .contact-us-form form .send a {
  text-decoration: none;
  color: white;
}
section .contact-container .contact-us-form form .send:hover {
  background-color: #000000;
  box-shadow: 0px 15px 20px rgba(33, 32, 31, 0.326);
  color: #ffffff;
  transform: translateY(-7px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Signika Negative", sans-serif;
}

footer {
  background-color: teal;
  color: white;
  margin-top: 50px;
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 1024px) {
  footer {
    flex-direction: column;
  }
}
@media screen and (max-width: 780px) {
  footer {
    flex-direction: column;
  }
}
footer .footer-left {
  display: flex;
  justify-content: space-around;
  flex: 1.5;
}
@media screen and (max-width: 1024px) {
  footer .footer-left {
    flex: 1;
  }
}
@media screen and (max-width: 780px) {
  footer .footer-left {
    flex: 1;
  }
}
footer .footer-left .footer-left-list1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .footer-left .footer-left-list1 .title h2 {
  color: white;
  text-decoration: underline;
  font-size: 1.7rem;
}
@media screen and (max-width: 780px) {
  footer .footer-left .footer-left-list1 .title h2 {
    font-size: 1.2rem;
  }
}
footer .footer-left .footer-left-list1 .child-in-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
footer .footer-left .footer-left-list1 .child-in-title .flag {
  display: flex;
  gap: 28px;
}
footer .footer-left .footer-left-list1 .child-in-title .flag img {
  background-color: white;
}
footer .footer-left .footer-left-list1 .child-in-title span a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
footer .footer-left .footer-left-list1 .child-in-title span a:hover {
  color: black;
  text-decoration: underline;
}
footer .footer-right {
  flex: 0.5;
  display: flex;
  justify-content: space-evenly;
}
@media screen and (max-width: 1024px) {
  footer .footer-right {
    width: 40%;
    margin: 30px 30%;
  }
}
footer .footer-right .contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  gap: 10px;
}
footer .footer-right .contact span a {
  text-decoration: none;
  color: white;
}
footer .footer-right .contact span a:hover {
  text-decoration: underline;
  color: black;
}/*# sourceMappingURL=contact.css.map */