@import "./main";
@import "./components/nav-bar";
@import "./components/catagery-card";

.container-1 {
    display: flex;
    margin-top: 100px;
    .content-left,
    .content-right {
        flex: 2;
    }
    .content-left {
        display: flex;
        flex-direction: column;
        @include centered;
        background: $gray;
    }
    .content-right {    
        img {
            width: 100%;
        }
    }
}

