@import './components/nav-bar';
@import './components/product-card';
// @import './main';
@import './variable/body';

.clothes,
.skincares,
.foods,
.products{
    .sell{
<<<<<<< HEAD
        // margin-top: $margin-top;
=======
>>>>>>> fb29723bc26fb4f4f621ef10c5e603e9255217c8
        .sell-header{
            h1{
                font-size: $catergory ;
            }
            letter-spacing: 3px;
            margin: $mainMargin 0;
            @include centered;
            .sell-line{
                @include centered;
                flex: 1;
                height: 1px;
                background-color: $black;
            }
        }
        .sell-body{
            margin-bottom: $mainMargin;
            @include space-between;
            flex-wrap: wrap;
            gap: 50px;
        }
    }
}