$radiusValue: 10px;
$gapValue:20px;
$main-color: purple;
$primary-color: teal;
$secondary-color: black;
$tertiary-color: orange;
$quaternary-color: gray;
$quinary-color: white;
$blur-color: rgba(50,50,50,0.468);
$hover-colore: darkorange;