@import "components/main";
@import "components/service";




.about-container {
  padding: 20px 200px;
  @include df-aic-jcc;
  flex-direction: column;

  h3,
  p,
  img {
    @include mt20px;
    text-align: center;
  }

  .group-service {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include mt20px;
  }
}