// color 
$gray: #D9D9D9;
$white: white;
$teal: teal;
$black: black;
$red: red;
$yellow: yellow;
$pink: rgb(238, 136, 223);

// margin and padding left right

$mainMargin: 50px;

// font-size

$title: 2.5rem;
$sub-title: 1.2rem;
$simple-text: 1rem;
$catergory: 1.728rem;

$border-radius: 20px;
$form-radius: 5px;