@import '../group-mixin/group-mixin';
@import '../variable/variable';


.log-in{
    width: 130px;
    height: 45px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fffefe;
    background-color: $teal;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    padding: 1.3em 3em;
    a{
        text-decoration: none;
        color: white;
    }
}
.log-in:hover {
    background-color: #236ec4;
    box-shadow: 0px 15px 20px rgba(46, 49, 229, 0.4);
    color: #fff;
    transform: translateY(-7px);
}

.log-in:active {
    transform: translateY(-1px);
}
