@import "../group-mixin/group-mixin";
@import "../variable/variable";
@import "../main";

section{
    background: linear-gradient(155deg, rgba(45, 40, 40, 0.618), rgba(8, 8, 8, 0.607)), url(/image/contact-page/contact-group.png);
    background-position: center;
    background-color: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    display: flex;
}
.contact-container{
    display: flex;
    background: linear-gradient(155deg, rgba(2, 2, 2, 0.447), rgba(2, 0, 0, 0.612));
    border-radius: 10px;
    width: 90%;
    padding: 30px;
    margin: 160px 0 40px 60px;
}
.contact-us-content{
    width: 60%;
    @include flex-column;
    gap: 20px;
}
.contact-us-connect{
    @include flex-column;
    gap: 20px;
}
.contacts{
    display: flex;
    align-items: center;
    margin-left: $mainMargin;
    gap: 25px;
}
.contacts>span>a{
    color: white;
}
.contact-us-form{
    color: white;
    @include centered;
    margin-top: -200px;
}
.contact-us-form form {
    margin-left: 40px;
    // background: linear-gradient(155deg, rgba(239, 232, 232, 0.788), rgba(192, 181, 181, 0.642));
    background-color: $gray;
    color: black;
    padding: 10px 20px;
    @include flex-column;
}
input{
    border: none;
    background-color: rgba(255, 255, 255, 0);
}
.username,
.email,
.message{
  margin: 10px 0px;
  border-bottom: 1px solid black;
}
.contact-us-form form h1 {
  text-align: center;
}
.username input,
.message input,
.email input {
  width: 335px;
  padding: 3px 0px;
}
.contact-us-form form button {
  background: teal;
  color: white;
  border: none;
  padding: 5px;
  border-radius: 5px;
}