@import '../variable/variable';
@import '../group-mixin/group-mixin';
@import '../main';
footer{
    background-color: $teal;
    color: $white;
    margin-top: $mainMargin;
    padding: 30px;
    @include space-evenly;
    @include responsive(tablet){
        flex-direction: column;
    }
    @include responsive(mobile){
        flex-direction: column;
    }

    .footer-left{
        display: flex;
        justify-content: space-around;
        flex: 1.5;
        @include responsive(tablet){
            flex: 1;
        }
        @include responsive(mobile){
            flex: 1;
        }
        .footer-left-list1{
            flex: 1;
            @include flex-column;
            gap: 20px;
            .title{
                h2{
                    color: $white;
                    text-decoration: underline;
                    font-size: 1.7rem;
                    @include responsive(mobile){
                        font-size: $sub-title;
                    }
                }
            }
            .child-in-title{
                @include flex-column;
                gap: 10px;
                .flag{
                    display: flex;
                    gap: 28px;
                    img{
                        background-color: white;
                    }
                }
                span{
                    a{
                        text-decoration: none;
                        color: white;
                    }
                    a:hover{
                        background-color: rgb(64, 240, 217);
                        color: black;
                        padding: 5px;
                        border-radius: 5px
                    }
                }
            }
        }
    }
    .footer-right{
        flex: 0.5;
        @include space-evenly;
        @include responsive(tablet){
            width: 40%;
            margin: 30px 30%;
        }
        .contact{
            @include centered;
            flex-direction: column;
            margin: 20px;
            gap: 10px;
            span{
                a{
                    text-decoration: none;
                    color: white;
                }
                a:hover{
                    background-color: rgb(64, 240, 217);
                    color: black;
                    padding: 5px;
                    border-radius: 5px
                }
            }
        }
    }
}
