@import '../variable/variable';
@import '../components/button';
@import '../group-mixin/group-mixin';

nav{
    margin: 0 $mainMargin;
    .nav-top{
        height: 100px;
        @include space-between;
        .nav-left {
            flex: 1;
        }
        .nav-left{
            @include centered;
            img{
                height: 100px;
                margin-left: -250px;
            }
        }
        .nav-center {
            flex: 1.5;
            display: flex;
            justify-content: space-evenly;
            width: 100%;
            ul {
                margin-right: 25px;
                list-style: none;
                width: 100%;
                display: flex;
                justify-content: space-evenly;
    
                li {
                    a {
                        text-decoration: none;
                        font-size: $sub-title;
                        color: $teal;
                    }
                }
            }
        }
    
        .nav-right {
            @include centered;
            flex: 1;
            display: flex;
            justify-content: end;
            
            span{
                margin-right: 20px;
                font-size: 1.5rem;
            }
<<<<<<< HEAD
    
            .log-in:hover {
                background-color: #236ec4;
                box-shadow: 0px 15px 20px rgba(46, 49, 229, 0.4);
                color:$white;
                transform: translateY(-7px);
=======
            span:hover{
                transform: scale(1.1);
                color: $teal;
>>>>>>> fb29723bc26fb4f4f621ef10c5e603e9255217c8
            }
            #menu{
                font-size: 1.5rem;
                z-index: 10001;
                cursor: pointer;
            }
        }
    }
    .nav-buttom{
        @include centered;
        input{
            height: 40px;
            width: 450px;
            padding-left: 30px;
            border-radius: 50px;
            border: 2px solid $gray;
        }
        span{
            margin-left: 20px;
            font-size: 30px;
        }
    }
}
