

@import '../variable/variable';
@import '../group-mixin/group-mixin';
@import '../main';
footer{
    background-color: rgb(144, 180, 181);
    color: $white;
    display: flex;
    margin-top: $mainMargin;
    padding: $mainMargin;
    gap: 50px;
    .footer-left{
        justify-content: space-around;
        display: flex;
        width: 80%;
        .footer-left-list1{
            display: flex;
            flex-direction: column;
            .child-in-title{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
    }
    .footer-right{
        @include centered;
        width: 30%;
        .contact{
            @include centered;
            flex-direction: column;
            margin: 20px;
            i{
                font-size: $title;
                border: 2px solid white;
            }
        }
    }
}
