@import "components/main";
@import "components/card";

.main-container {
    display: flex;
    height: 90vh;
}

aside {
    @include df-jcc-aic;
    font-size: 20px;
    font-weight: bold;
    color: $quinary-color;
    background: $main-color;
    flex: 1;
}

main {
    flex: 4;
    padding: 20px;

    h1 {
        text-transform: uppercase;
        text-decoration: underline;
        text-align: center;
        margin-bottom: 20px;
    }
}

.group-cards {
    display: flex;
    flex-wrap: wrap;
    gap: $gapValue;
}